{% load static %}
{% block content %}
<style>header{
            background: #63EA99;
            }
</style>
<style>button{
            background-color: transparent;
            border: none;
            }
</style>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'diplom:main_page' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="{% static 'img/agromaster_logo.png' %}" width="124" height="60">
        </a>
     <ul class="nav nav-pills">
<!--         <li class="nav-item"><a href="{% url 'diplom:main_page' %}" class="nav-link">Архив</a></li>-->
<!--         <li class="nav-item"><a href="{% url 'diplom:logout' %}" class="nav-link">Выйти</a></li>-->
         <li>
             <button style="border: 2px solid #FFFFFF">
                 <a href="{% url 'diplom:archive' %}">Архив  <img src="{% static 'img/archive.png' %}" width="24" height="24"></a>
             </button>
         </li>
         <li>
             <img src="{% static 'img/icon.png' %}" width="30" height="30">
         </li>
         <li>
             <button style="border: 2px solid #FFFFFF">
                 <a href="{% url 'diplom:logout' %}">Выйти  <img src="{% static 'img/logout.png' %}" width="24" height="24"></a>
             </button>
         </li>
     </ul>
    </header>
</div>
{% endblock %}