{% extends "base.html" %}
{% load static %}
{{request.path}}
{% block title %}Заказы{% endblock %}
{% block content %}
<div class="container-fluid p-4" style="max-width:85%">
    {% if request.resolver_match.url_name == 'main_page' %}
    <ul class="nav justify-content-end" style="margin-bottom:20px">
    <li class="nav-item">
        <div class="col m-1">К отгрузке сегодня: {{today_orders_count}}</div>
    </li>
    <li class="nav-item">
        <div class="col m-1">Измененные заказы: {{changes_order_count}}</div>
    </li>
    </ul>
    {% endif %}
    <div class="row align-items-start">
        <div class="col"><b>№ Заказа</b>
            <button type="button" class="btn d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false" >
                <img src="{% static 'img/filter.png' %}" width="20" height="18">
            </button>
        <div data-bs-theme="light" class="dropdown-menu">
        <form class="p-2 mb-2 bg-body-tertiary border-bottom">
            <div class="d-flex align-items-center">
               <input type="search" class="form-control" autocomplete="false" placeholder="поиск">
                <img src="{% static 'img/search.png' %}" width="24" height="24">
            </div>
        </form>
        <ul class="list-unstyled mb-0">
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2">Сортировать
            <img src="{% static 'img/a-z.png' %}" width="24" height="24">
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2">Сортировать
            <img src="{% static 'img/z-a.png' %}" width="24" height="24">
            </a></li>
        </ul>
        </div>
        </div>
        <div class="col"><b>Дата отгрузки</b>
            <button type="button" class="btn d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'img/filter.png' %}" width="20" height="18">
            </button>
        <div data-bs-theme="light" class="dropdown-menu">
         <form class="p-2 mb-2 bg-body-tertiary border-bottom">
             <div class="d-flex align-items-center">
                <input type="search" class="form-control" autocomplete="false" placeholder="поиск">
                 <img src="{% static 'img/search.png' %}" width="24" height="24">
             </div>
        </form>
        <ul class="list-unstyled mb-0">
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2">Сортировать
            <img src="{% static 'img/a-z.png' %}" width="24" height="24">
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2">Сортировать
            <img src="{% static 'img/z-a.png' %}" width="24" height="24">
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2">Сегодня</a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2">Завтра</a></li>
        </ul>
    </div>
    </div>
    <div class="col"><b>Статус</b>
        <button type="button" class="btn d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'img/filter.png' %}" width="20" height="18">
        </button>
        <div data-bs-theme="light" class="dropdown-menu m-1 p-1">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked0">
            <label class="form-check-label" for="flexCheckChecked1">Поступил</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
            <label class="form-check-label" for="flexCheckChecked1">Принят</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
            <label class="form-check-label" for="flexCheckChecked2">В сборке</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3">
            <label class="form-check-label" for="flexCheckChecked3">Ожидает отгрузки</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4">
            <label class="form-check-label" for="flexCheckChecked4">Отгружается</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked5">
            <label class="form-check-label" for="flexCheckChecked5">Возникла проблема</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked6">
            <label class="form-check-label" for="flexCheckChecked6">Изменен</label>
        </div>

    </div>
    </div>

    <div class="col"><b>Номер машины</b>
        <button type="button" class="btn d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'img/filter.png' %}" width="20" height="18">
        </button>
    <div data-bs-theme="light" class="dropdown-menu">
        <form class="p-2 mb-2 bg-body-tertiary border-bottom">
            <div class="d-flex align-items-center">
            <input type="search" class="form-control" autocomplete="false" placeholder="поиск">
            <img src="{% static 'img/search.png' %}" width="24" height="24">
            </div>
        </form>
    </div>
    </div>
    <div class="col"><b>Номер прицепа</b></div>
    <div class="col"><b>Всего мест</b></div>
    <div class="col"><b>Всего наименований</b></div>
    </div>

<hr style="border: 1px solid black">


{% for order_item in orders %}
<div class="card" style="background: {% if order_item.status == 'Изменен' %} #F3928C {% else %} #9EFEC3 {% endif %};
                        margin-bottom:20px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5); border: 2px solid {% if order_item.status == 'Изменен' %} #C23522 {% else %} #157014 {% endif %};">
    <img src="{% static 'img/comment_img.svg' %}" style="position: absolute; top: 0; right: 0; width: 20px; height:20px; margin-right:1px">
    <div class="card-body m-1" >
        <div class="row align-items-start">
            <div class="col">
                № {{order_item.order_number}}
            </div>
            <div class="col">
                {{order_item.date}}
            </div>
            <div class="col">
                {{order_item.status}}
                {% if isstorekeeper %}
                <form method="post" action="{% url 'diplom:change_status' %}">
                    {% csrf_token %}
                    <input type="hidden" name="order_number" value="{{ order_item.order_number }}">
                    <button type="button" class="btn d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false" id="status_dropdown">
                       <img src="{% static 'img/change_status.png' %}" width="24" height="24">
                   </button>
                    <ul data-bs-theme="light" class="dropdown-menu m-1 p-1" aria-labelledby="status_dropdown">
                      <li>
                          <button class="dropdown-item" type="submit" name="status" value="Принят">
                              Принят
                          </button>
                      </li>
                      <li>
                          <button class="dropdown-item" type="submit" name="status" value="В сборке">
                              В сборке
                          </button>
                      </li>
                      <li>
                          <button class="dropdown-item" type="submit" name="status" value="Ожидает отгрузки">
                              Ожидает отгрузки
                          </button>
                      </li>
                      <li>
                          <button class="dropdown-item" type="submit" name="status" value="Отгружается">
                              Отгружается
                          </button>
                      </li>
                      <li>
                          <button class="dropdown-item" type="submit" name="status" value="Возникла проблема">
                              Возникла проблема
                          </button>
                      </li>
                      <li>
                          <button class="dropdown-item" type="submit" name="status" value="Изменен">
                              Изменен
                          </button>
                      </li>
                    </ul>
                </form>
                {% endif %}
            </div>
            <div class="col">
                {{order_item.car_number}}
            </div>
            <div class="col">
                {{order_item.trailer_number}}
            </div>
            <div class="col">
                {{order_item.places}}
            </div>
            <div class="col">
                {{order_item.names}}
                <button type="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseTable{{forloop.counter}}" data-bs-target="#collapseTable{{forloop.counter}}">
                   <img src="{% static 'img/dropdown_table.png' %}" width="20" height="8">
               </button>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover collapse" id="collapseTable{{forloop.counter}}"
       style="text-align: center;border-collapse: collapse; border: 1px solid #000000; background-color: #F0FBF4">
    <thead>
    <tr>
        <th>№</th>
        <th>Наименование товара</th>
        <th>Масса НЕТТО</th>
        <th>Количество</th>
        <th>Ед.изм</th>
        <th>Кол-во мест</th>
        <th>Шт/место</th>
    </tr>
    </thead>
    {% for list_item in order_item.items.all %}
    <tbody  >
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{list_item.name}}</td>
            <td>{{list_item.mass}}</td>
            <td>{{list_item.count}}</td>
            <td>{{list_item.unit}}</td>
            <td>{{list_item.place}}</td>
            <td>{{list_item.unit_place}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}

</div>



<!--{% for order_card in order_cards %}-->
<!--<article class="mb-5">-->
<!--{% include 'includes/order_card.html' %}-->
<!--</article>-->
<!--{% endfor %} d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px-->
{% include 'includes/paginator.html' %}
{% endblock %}